<% if (products && products.length > 0) { %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3  col-sm-offset-3 ">
        <ul class="list-group">
            <% products.forEach(function(product){ %>

            <li class="list-group-item">
                <span class="badge"><%= product.qty %></span>
                <strong><%- product.item.title %></strong>
                <span class="label label-success">$<%= product.price %></span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" >
                        Action
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu">
                            <li><a href="/reduceCard/<%- product.item._id %>">Reduce by 1</a></li>
                            <li><a href="/removeAllCard/<%- product.item._id %>">Remove All</a></li>
                        </ul>
                </div>
            </li>
            <% }) %>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total: <%= totalPrice%> </strong>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href="/checkout" type="button" class="btn btn-success">Check out</a>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3  col-sm-offset-3 ">
        <h2>No products in the cart</h2>
    </div>
</div>

<% } %>
